# week08/k8s/secrets.yaml

apiVersion: v1
kind: Secret
metadata:
  name: ecomm-secrets-w08e1
type: Opaque # Indicates arbitrary user-defined data
data:
  # PostgreSQL Credentials (for both Product DB and Order DB)
  POSTGRES_USER: "cG9zdGdyZXM=" # Base64 for 'postgres'
  POSTGRES_PASSWORD: "cG9zdGdyZXM=" # Base64 for 'postgres'

  # Azure Storage Account Credentials for Product Service image uploads
  # REPLACE WITH YOUR ACTUAL BASE64 ENCODED VALUES from your Azure Storage Account
  # Example: echo -n 'myblobstorageaccount' | base64
  AZURE_STORAGE_ACCOUNT_NAME: "YW51c2hpc3Ry" 
  # Example: echo -n 'your_storage_account_key_string' | base64
  AZURE_STORAGE_ACCOUNT_KEY: "TFdmbkhpRTBBUDJ4ejZLNVVOUWFBZHN5RzFqS2prS3B4TWpRbVhXcVJ6clNhdXNWVVBaZ3dlb3hwWm8vMFpJNmxic251NkF5REdGOStBU3Rudmdxc0E9PQ=="
